#!/usr/bin/make -f
# -*- makefile -*-
# Sample debian/rules that uses debhelper.
# GNU copyright 1997 to 1999 by Joey Hess.

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1


# These are used for cross-compiling and for saving the configure script
# from having to guess our platform (since we know it already)
DEB_HOST_GNU_TYPE   ?= $(shell dpkg-architecture -qDEB_HOST_GNU_TYPE)
DEB_BUILD_GNU_TYPE  ?= $(shell dpkg-architecture -qDEB_BUILD_GNU_TYPE)


CFLAGS = -Wall -g

ifneq (,$(findstring noopt,$(DEB_BUILD_OPTIONS)))
	CFLAGS += -O0
else
	CFLAGS += -O2
endif
ifeq (,$(findstring nostrip,$(DEB_BUILD_OPTIONS)))
	INSTALL_PROGRAM += -s
endif

# shared library versions, option 1
version=2.3.4
major=2
# option 2, assuming the library is created as src/.libs/libfoo.so.2.0.5 or so
#version=`ls src/.libs/lib*.so.* | \
# awk '{if (match($$0,/[0-9]+\.[0-9]+\.[0-9]+$$/)) print substr($$0,RSTART)}'`
#major=`ls src/.libs/lib*.so.* | \
# awk '{if (match($$0,/\.so\.[0-9]+$$/)) print substr($$0,RSTART+4)}'`


patch: patch-stamp
patch-stamp:
	dpatch apply-all
	libtoolize -c -f
	aclocal -Iconfig
	autoconf
	eval `bash ./debian/jvm-find.sh` && javac -cp $$JAVA_HOME/lib/tools.jar -sourcepath docs/src -d docs/src docs/src/ExcludeDoclet.java
	touch patch-stamp

config.status: patch-stamp configure
	dh_testdir
	# Add here commands to configure the package.
	MONO_SHARED_DIR="$(CURDIR)" CFLAGS="$(CFLAGS)" LDFLAGS="-Wl,-z,defs" \
	./configure --host=$(DEB_HOST_GNU_TYPE) \
	            --build=$(DEB_BUILD_GNU_TYPE) \
	            --prefix=/usr \
	            --mandir=\$${prefix}/share/man \
	            --infodir=\$${prefix}/share/info \
	            --with-perl=/usr \
	            --with-python=/usr \
	            --with-java=/usr \
	            --with-ruby=/usr \
	            --with-octave=/usr \
	            --with-csharp=/usr \
	            --with-csharp-compiler=/usr/bin/mcs
	touch \
		src/bindings/java/java-files \
		src/bindings/java/libsbml_wrap.cpp \
		src/bindings/perl/LibSBML.pm \
		src/bindings/perl/LibSBML_wrap.cxx \
		src/bindings/python/libsbml.py \
		src/bindings/python/libsbml_wrap.cpp \
		src/bindings/ruby/libsbml_wrap.cpp

build: build-stamp build-stamp-indep
build-stamp: config.status
	dh_testdir
	MONO_SHARED_DIR="$(CURDIR)" $(MAKE) all DESTDIR=$(CURDIR)/debian/tmp/
	touch build-stamp

build-indep: build-stamp-indep
build-stamp-indep: config.status
	dh_testdir
	MONO_SHARED_DIR="$(CURDIR)" $(MAKE) docs 
	touch build-stamp-indep

unpatch:
	# Unpatch after distclean
	dpatch deapply-all
	rm -rf patch-stamp debian/patched

distclean:
	dh_testdir
	dh_testroot
	-([ -r Makefile ] && $(MAKE) distclean)

clean: distclean unpatch
	dh_testdir
	dh_testroot
	rm -f build-stamp
	rm -f build-stamp-indep
	rm -f config.status
	rm -f config.log
	# Clean not sufficient for dpkg-sources diff
	rm -rf docs/formatted
	dh_clean \
	  `find . -name "*.a" -o -name "*.la" -o -iname "*.Po" -o -iname "*.loT" -o -name "*pdf" -o -name "*.aux" -o -name "*.dvi" ` \
	  docs/src/ExcludeDoclet\\$$1.class \
	  src/bindings/octave/BuildTranslate_Win32.m \
	  src/bindings/octave/CheckAndConvert.m \
	  src/bindings/octave/Contents.m \
	  src/bindings/octave/README.txt \
	  src/bindings/octave/TranslateSBML.c \
	  src/bindings/octave/TranslateSBML.m \
	  src/bindings/octave/install_Win32.m \
	  src/bindings/octave/make.bat \
	  src/bindings/octave/matlab-tags-regexp.txt \
	  src/bindings/octave/test.xml \
	  src/bindings/csharp/libsbmlcs.snk

install: build
	dh_testdir
	dh_testroot
	dh_clean -k 
	dh_installdirs
	# Add here commands to install the package into debian/tmp
	MONO_SHARED_DIR="$(CURDIR)" $(MAKE) install DESTDIR=$(CURDIR)/debian/tmp/
	MONO_SHARED_DIR="$(CURDIR)" $(MAKE) install-docs DESTDIR=$(CURDIR)/debian/tmp/

# Build architecture-independent files here.
binary-indep: build-indep install
	# Well, if I would need to separate the make install header files from the remainder
	# and I do not like tampering too much with upstream source.

# Build architecture-dependent files here.
binary-arch: build install
	dh_testdir
	dh_testroot
	dh_installchangelogs
	dh_installdocs
	dh_installexamples
	dh_install -Xlibsbml-java --sourcedir=$(CURDIR)/debian/tmp
	dh_link
	dh_strip
	dh_compress
	dh_fixperms
	dh_perl
	dh_pysupport
	dh_makeshlibs
	dh_makeclilibs
	dh_installdeb
	dh_shlibdeps
	dh_clideps
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install patch unpatch
